/************************** ;RESPONSIVENESS **************************/
/*--------------------;SHORT WIDE--------------------*/
.shortWide .screen.nosotros .galaxia div.wiki {
  width: 9em;
  height: 9em;
  margin: 0.7em 2.6em; }
  .shortWide .screen.nosotros .galaxia div.wiki img {
    width: 9em;
    height: 9em; }
.shortWide .screen.video {
  /*.theater .fb img {*/
  /*margin-left:-3em; margin-top:-1em;*/
  /*}*/ }
  .shortWide .screen.video .copy {
    bottom: 1em;
    /*p {margin-top:2em}*/
    /*a {display:none}*/ }
.shortWide .screen.asesores h1 {
  line-height: 1.2em; }
.shortWide .screen.asesores div.asesores .right {
  width: 47.5%; }
.shortWide .screen.asesores div.asesores .center .asesor .bio em {
  display: none; }
.shortWide .screen.asesores div.asesores .center .asesor:hover {
  margin-top: -6em; }
  .shortWide .screen.asesores div.asesores .center .asesor:hover .bio em {
    display: inline-block; }
.shortWide .screen.medios h1 {
  margin: 0; }
.shortWide .screen.medios .logos {
  margin-top: 0;
  /*img {height:3.5em}*/ }
.shortWide .screen.acercade .yo-kuma .foto img.soy-pedro {
  margin-top: 10em; }
.shortWide .screen.acercade .yo-kuma .copy p:nth-of-type(1) {
  margin-top: 5.5em; }
.shortWide .screen.acercade .yo-kuma .copy p {
  margin-bottom: 2em; }
.shortWide .screen.acercade .yo-kuma img.todos {
  display: none; }
.shortWide .screen.mapa .copy {
  top: 0;
  padding-top: 1em;
  right: -35em; }
  .shortWide .screen.mapa .copy h3 {
    margin-bottom: 0; }
.shortWide.mobileNotIpad {
  /*.screen {height:auto; overflow:visible}*/
  /*#goodbye {position:fixed}*/ }
  .shortWide.mobileNotIpad #fullpage {
    /*&.compromisos, &.principios, &.propuestas {*/
    /*.fb {display:none}*/
    /*}*/ }
.shortWide #fullpage.compromisos .screen.toc .header {
  padding-top: 5em;
  padding-bottom: 1em; }
.shortWide #fullpage.propuestas .screen.toc .header {
  padding-top: 5em;
  padding-bottom: 1em; }
.shortWide #fullpage.principios .screen.toc .lista a {
  margin: 0.5em 0; }
.shortWide #fullpage.principios .screen.toc .header {
  padding-top: 5em;
  padding-bottom: 1em; }

body.mobileNotIpad #fullpage.propuestas .text h1 {
  padding-left: 4em;
  font-size: 4em; }
body.mobileNotIpad #fullpage.propuestas .text h2 {
  margin-left: 5em; }
  body.mobileNotIpad #fullpage.propuestas .text h2 .kumalogo {
    height: 3.5em;
    left: 1em;
    top: 0.7em; }
body.mobileNotIpad #fullpage.propuestas .text p, body.mobileNotIpad #fullpage.propuestas .text ol {
  width: 80%; }
body.mobileNotIpad #fullpage.propuestas .text li {
  margin-left: 1em; }
body.mobileNotIpad #fullpage.propuestas .text span.confetti {
  font-size: 0.7em; }
  body.mobileNotIpad #fullpage.propuestas .text span.confetti img {
    margin: 0.4em 0; }

/*--------------------;BOXY--------------------*/
.boxy .screen.video .theater .date {
  padding-top: 1em; }
.boxy .screen.video .theater #ytplayer {
  top: 3em; }
.boxy .screen.video .theater .sidebar {
  width: 100%;
  left: 0;
  right: auto;
  z-index: 2; }
  .boxy .screen.video .theater .sidebar .thumbs {
    display: inline-block;
    vertical-align: middle; }
  .boxy .screen.video .theater .sidebar .soundToggle, .boxy .screen.video .theater .sidebar .replay {
    margin-top: 3em;
    vertical-align: middle; }
  .boxy .screen.video .theater .sidebar .replay {
    margin-right: 2em; }
.boxy .screen.video .theater .fb img {
  margin-left: -3em;
  margin-top: -1em; }
.boxy .screen.video .copy p {
  margin-top: 2em; }
.boxy .screen.video .copy a {
  display: none; }
.boxy .screen.asesores h1 {
  margin: 0.3em 0; }
.boxy .screen.asesores div.asesores .left, .boxy .screen.asesores div.asesores .right {
  margin-top: 2em;
  margin-bottom: 2em; }
.boxy .screen.medios h1 {
  margin-top: 0.8em; }
.boxy .screen.medios .citas .medio {
  margin-right: 18em; }
  .boxy .screen.medios .citas .medio .copy {
    font-size: 1.3em; }
.boxy .screen.medios .carton {
  top: 54em; }
.boxy .screen.medios .carton9abr {
  top: 34em; }
.boxy .screen.medios .ferrizStill {
  top: 19em; }
.boxy .screen.nosotros .galaxia div.wiki {
  margin: 1.4em 2em; }
.boxy .screen.acercade .yo-kuma .foto img {
  margin-top: 0; }
.boxy .screen.acercade .yo-kuma .copy {
  font-size: 1.2em; }
  .boxy .screen.acercade .yo-kuma .copy p {
    margin-bottom: 2em; }

/*--------------------;PORTRAIT--------------------*/
.portrait #menu {
  font-size: 3em; }
.portrait #goodbye {
  font-size: 1.3em; }
.portrait .screen.video {
  background: black; }
  .portrait .screen.video .theater {
    top: 20em; }
    .portrait .screen.video .theater .date {
      padding-top: 1em; }
    .portrait .screen.video .theater #ytplayer {
      top: 3em;
      margin-left: auto; }
    .portrait .screen.video .theater .sidebar {
      width: 100%;
      left: 0;
      right: auto;
      z-index: 2; }
      .portrait .screen.video .theater .sidebar .thumbs {
        display: inline-block;
        vertical-align: middle; }
      .portrait .screen.video .theater .sidebar .soundToggle, .portrait .screen.video .theater .sidebar .replay {
        margin-top: 3em;
        vertical-align: middle; }
      .portrait .screen.video .theater .sidebar .replay {
        margin-right: 2em; }
    .portrait .screen.video .theater .fb img {
      margin-left: -3em;
      margin-top: -1em; }
  .portrait .screen.video .copy {
    bottom: 0;
    padding-bottom: 13em;
    background: #ADDFD7; }
    .portrait .screen.video .copy h1 {
      top: 2em; }
    .portrait .screen.video .copy p {
      margin-top: 2em;
      font-size: 2.5em; }
.portrait .screen.nosotros h1 {
  width: 100%;
  margin: 0.4em 0; }
  .portrait .screen.nosotros h1 a {
    bottom: 1.5em;
    right: 7.2em; }
.portrait .screen.nosotros .galaxia .azulejo-top {
  top: -2%; }
.portrait .screen.nosotros .galaxia .azulejo-bottom {
  bottom: -2%; }
.portrait .screen.nosotros .galaxia div.wiki {
  margin: 1.5em 1.5em;
  width: 15em;
  height: 15em; }
  .portrait .screen.nosotros .galaxia div.wiki img {
    width: 15em;
    height: 15em; }
  .portrait .screen.nosotros .galaxia div.wiki span {
    font-size: 3em; }
.portrait .screen.asesores h1 {
  margin-top: 0.3em;
  margin-bottom: 0.3em; }
.portrait .screen.asesores div.asesores {
  font-size: 1.2em; }
  .portrait .screen.asesores div.asesores .center {
    margin-left: -7em; }
    .portrait .screen.asesores div.asesores .center .bottom {
      position: absolute;
      width: 20em; }
      .portrait .screen.asesores div.asesores .center .bottom .asesor {
        margin-bottom: 2em; }
  .portrait .screen.asesores div.asesores .right, .portrait .screen.asesores div.asesores .left {
    width: 51.5%; }
  .portrait .screen.asesores div.asesores .left {
    border-top: 1px solid #aaa;
    padding-top: 2%;
    padding-right: 2%; }
.portrait .screen.medios h1 {
  margin-top: 1em;
  margin-bottom: 0.8em; }
.portrait .screen.medios .carton {
  top: auto;
  bottom: 0;
  right: auto;
  left: 15em; }
  .portrait .screen.medios .carton img {
    width: 35em; }
  .portrait .screen.medios .carton.carton9abr {
    top: auto;
    bottom: 0;
    left: auto;
    right: 10em; }
.portrait .screen.medios .ferrizStill {
  top: auto;
  bottom: 0;
  left: auto;
  right: 48em; }
  .portrait .screen.medios .ferrizStill img {
    width: 42em;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
.portrait .screen.medios .citas .medio {
  margin-right: 0; }
  .portrait .screen.medios .citas .medio div.logo img {
    margin-top: 2em;
    width: 30em; }
  .portrait .screen.medios .citas .medio .copy {
    font-size: 1.8em; }
    .portrait .screen.medios .citas .medio .copy a {
      width: 30em; }
.portrait .screen.medios .logos {
  margin-top: 3.5em; }
.portrait .screen.acercade .yo-kuma .foto img {
  margin-top: -7em; }
.portrait .screen.acercade .yo-kuma img.todos {
  width: 100%;
  left: 0; }
.portrait .screen.acercade .yo-kuma .copy {
  font-size: 1.6em; }
  .portrait .screen.acercade .yo-kuma .copy p {
    margin-left: 3em;
    margin-bottom: 2.5em; }
.portrait .screen.mapa .copy {
  font-size: 1.5em; }
.portrait #fullpage.compromisos .screen.toc .header {
  margin-bottom: 8em; }
.portrait #fullpage.compromisos .screen.toc p {
  font-size: 2.8em; }
.portrait #fullpage.compromisos .screen.toc div.toc a {
  width: 100%;
  font-size: 8em;
  margin: 1em 0;
  text-align: center; }
.portrait #fullpage.compromisos .screen.bienvenida div.copy {
  font-size: 2.3em;
  right: 14em; }
.portrait #fullpage.compromisos .screen .text h2 {
  padding-left: 2.25em;
  margin-bottom: 1em; }
.portrait #fullpage.compromisos .screen .text img.kumalogo {
  left: 2em; }
.portrait #fullpage.compromisos .screen .text h3 {
  margin-left: 4.6em; }
.portrait #fullpage.compromisos .screen .text ol {
  width: 75%; }
.portrait #fullpage.compromisos li {
  font-size: 1.3em;
  line-height: 1.4em;
  margin: 1em 0; }
.portrait #fullpage.principios .header .azulejo-top {
  top: -2%; }
.portrait #fullpage.principios .header .pedro-kumamoto {
  margin-top: 5em;
  font-size: 1.5em;
  width: 100%; }
  .portrait #fullpage.principios .header .pedro-kumamoto .kumalogo {
    height: 15.5em; }
  .portrait #fullpage.principios .header .pedro-kumamoto h2 {
    font-size: 2.1em;
    margin-top: 0.6em; }
.portrait #fullpage.principios .header .where {
  display: block;
  width: 100%;
  margin-top: 2em;
  font-size: 2em; }
.portrait #fullpage.principios .screen.toc .lista .left, .portrait #fullpage.principios .screen.toc .lista .right {
  width: 100%; }
  .portrait #fullpage.principios .screen.toc .lista .left a, .portrait #fullpage.principios .screen.toc .lista .right a {
    display: block;
    font-size: 5em;
    margin: 1.1em 0; }
    .portrait #fullpage.principios .screen.toc .lista .left a:last-of-type, .portrait #fullpage.principios .screen.toc .lista .right a:last-of-type {
      margin-bottom: 0; }
  .portrait #fullpage.principios .screen.toc .lista .left br, .portrait #fullpage.principios .screen.toc .lista .right br {
    display: none; }
.portrait #fullpage.principios .screen.toc .lista .left a:first-of-type {
  margin-top: 0; }
.portrait #fullpage.principios .screen.toc .lista .left span {
  width: 6.5em; }
  .portrait #fullpage.principios .screen.toc .lista .left span img {
    padding-right: 2em; }
.portrait #fullpage.principios .screen.toc .lista .right a span {
  width: 6em; }
.portrait #fullpage.principios .screen.toc .lista .right a img {
  padding-left: 2em; }
.portrait #fullpage.principios .screen .text h2 {
  padding-left: 3em;
  margin-bottom: 1.5em;
  line-height: 1.3em; }
.portrait #fullpage.principios .screen .text img.kumalogo {
  left: 2em;
  height: 10em; }
.portrait #fullpage.principios .screen .text h3 {
  margin-left: 4.6em; }
.portrait #fullpage.principios .screen .text p {
  width: 80%;
  font-size: 2em; }
.portrait #fullpage.principios .screen .text .confetti {
  margin: 2em 0; }
  .portrait #fullpage.principios .screen .text .confetti img {
    width: 25em; }
.portrait #fullpage.principios .screen .text .icono {
  font-size: 1.2em;
  margin-top: 1em; }
.portrait #fullpage.propuestas .header .azulejo-top {
  top: -2%; }
.portrait #fullpage.propuestas .header .pedro-kumamoto {
  margin-top: 3em;
  font-size: 1.5em;
  width: 100%; }
  .portrait #fullpage.propuestas .header .pedro-kumamoto .kumalogo {
    height: 15.5em; }
  .portrait #fullpage.propuestas .header .pedro-kumamoto h2 {
    font-size: 2.1em;
    margin-top: 0.6em; }
.portrait #fullpage.propuestas .header .where {
  display: block;
  width: 100%;
  margin-top: 2em;
  font-size: 1.6em; }
.portrait #fullpage.propuestas .screen.toc .ciudad, .portrait #fullpage.propuestas .screen.toc .gobierno {
  width: 100%; }
  .portrait #fullpage.propuestas .screen.toc .ciudad h2 a, .portrait #fullpage.propuestas .screen.toc .ciudad h3 a, .portrait #fullpage.propuestas .screen.toc .gobierno h2 a, .portrait #fullpage.propuestas .screen.toc .gobierno h3 a {
    margin: 1.3em 0; }
  .portrait #fullpage.propuestas .screen.toc .ciudad h2, .portrait #fullpage.propuestas .screen.toc .gobierno h2 {
    font-size: 5em; }
  .portrait #fullpage.propuestas .screen.toc .ciudad h3, .portrait #fullpage.propuestas .screen.toc .gobierno h3 {
    font-size: 4em; }
.portrait #fullpage.propuestas .screen.toc .ciudad h2 a {
  margin-top: 0; }
.portrait #fullpage.propuestas .screen.toc .ciudad h2 span {
  width: 5.4em; }
  .portrait #fullpage.propuestas .screen.toc .ciudad h2 span img {
    margin-right: 2em; }
.portrait #fullpage.propuestas .screen.toc .ciudad h3 span {
  width: 7.8em; }
  .portrait #fullpage.propuestas .screen.toc .ciudad h3 span img {
    margin-right: 2em; }
.portrait #fullpage.propuestas .screen.toc .gobierno h2 {
  margin-top: 0; }
  .portrait #fullpage.propuestas .screen.toc .gobierno h2 a:nth-of-type(1) {
    margin-top: 0.5em; }
  .portrait #fullpage.propuestas .screen.toc .gobierno h2 span {
    width: 5.4em; }
    .portrait #fullpage.propuestas .screen.toc .gobierno h2 span img {
      margin-left: 2em; }
.portrait #fullpage.propuestas .screen.toc .gobierno h3 span {
  width: 7.8em; }
  .portrait #fullpage.propuestas .screen.toc .gobierno h3 span img {
    margin-left: 2em; }
.portrait #fullpage.propuestas .screen.ciudad div.copy, .portrait #fullpage.propuestas .screen.gobierno div.copy {
  font-size: 3em;
  width: 20em; }
.portrait #fullpage.propuestas .screen .text h1 {
  text-align: center;
  padding-left: 0;
  font-size: 6.5em; }
.portrait #fullpage.propuestas .screen .text h2 {
  padding-left: 0em;
  margin: 0;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 0.7em;
  margin-bottom: 0.1em;
  margin-left: -1em;
  line-height: 1em;
  text-align: center;
  position: relative; }
  .portrait #fullpage.propuestas .screen .text h2 img.kumalogo {
    position: absolute;
    left: auto;
    right: 1.5em;
    height: 2.5em;
    margin: 0;
    top: 0.5em; }
.portrait #fullpage.propuestas .screen .text .copy {
  font-size: 2.5em; }
  .portrait #fullpage.propuestas .screen .text .copy p {
    width: 80%;
    padding-left: 3em; }
  .portrait #fullpage.propuestas .screen .text .copy ol {
    width: 100%;
    padding-left: 2em; }
    .portrait #fullpage.propuestas .screen .text .copy ol li {
      width: 80%;
      margin-left: 1em; }
  .portrait #fullpage.propuestas .screen .text .copy .confetti img {
    width: 25em; }
  .portrait #fullpage.propuestas .screen .text .copy .icono {
    margin-top: 3em; }

/*--------------------;TALL NARROW--------------------*/
.tallNarrow.mobileNotIpad #fullpage.home {
  /*.screen {height:auto; overflow:visible}*/
  /*#goodbye {position:fixed}*/ }
.tallNarrow.mobileNotIpad .screen.asesores .asesor .bio em {
  pointer-events: none; }
.tallNarrow .screen.video {
  background: black; }
  .tallNarrow .screen.video .theater {
    top: 40em; }
    .tallNarrow .screen.video .theater .date {
      padding-top: 1em; }
    .tallNarrow .screen.video .theater #ytplayer {
      top: 3em;
      margin-left: auto; }
    .tallNarrow .screen.video .theater .sidebar {
      width: 100%;
      left: 0;
      right: auto;
      z-index: 2; }
      .tallNarrow .screen.video .theater .sidebar .thumbs {
        display: inline-block;
        vertical-align: middle; }
      .tallNarrow .screen.video .theater .sidebar .soundToggle, .tallNarrow .screen.video .theater .sidebar .replay {
        margin-top: 3em;
        vertical-align: middle; }
      .tallNarrow .screen.video .theater .sidebar .replay {
        margin-right: 2em; }
    .tallNarrow .screen.video .theater .fb img {
      margin-left: -3em;
      margin-top: -1em; }
  .tallNarrow .screen.video .copy {
    bottom: 0;
    padding-bottom: 15em;
    background: #ADDFD7; }
    .tallNarrow .screen.video .copy h1 {
      top: 2em; }
    .tallNarrow .screen.video .copy p {
      margin-top: 2em;
      font-size: 2.5em; }
.tallNarrow .screen.nosotros h1 {
  width: 10.8em;
  margin: 0.4em 0;
  font-size: 8em; }
  .tallNarrow .screen.nosotros h1 a {
    bottom: -0.6em;
    right: 8.2em; }
.tallNarrow .screen.nosotros .galaxia .azulejo-top {
  top: -0.2%; }
.tallNarrow .screen.nosotros .galaxia .azulejo-bottom {
  bottom: -0.2%; }
.tallNarrow .screen.nosotros .galaxia div.wiki {
  margin: 2.7em 1.8em;
  width: 18em;
  height: 18em; }
  .tallNarrow .screen.nosotros .galaxia div.wiki img {
    width: 18em;
    height: 18em; }
  .tallNarrow .screen.nosotros .galaxia div.wiki span {
    font-size: 3.5em; }
  .tallNarrow .screen.nosotros .galaxia div.wiki:last-of-type {
    margin-right: 23em; }
.tallNarrow .screen.asesores {
  padding-bottom: 4em; }
  .tallNarrow .screen.asesores h1 {
    margin: 0.5em 0; }
  .tallNarrow .screen.asesores div.asesores {
    font-size: 1.8em; }
    .tallNarrow .screen.asesores div.asesores .asesor a.twitter {
      display: none; }
    .tallNarrow .screen.asesores div.asesores .asesor em {
      font-style: normal;
      font-size: 1.2em; }
    .tallNarrow .screen.asesores div.asesores .asesor span.name {
      font-size: 1.9em; }
    .tallNarrow .screen.asesores div.asesores .asesor .bio em {
      display: none; }
    .tallNarrow .screen.asesores div.asesores .asesor:hover .bio em {
      display: inline-block; }
    .tallNarrow .screen.asesores div.asesores .center {
      margin: 2em 0; }
      .asesor .tallNarrow .screen.asesores div.asesores .center:hover {
        margin-top: -6em; }
      .tallNarrow .screen.asesores div.asesores .center .bottom {
        display: block;
        margin-top: 1em; }
    .tallNarrow .screen.asesores div.asesores .right, .tallNarrow .screen.asesores div.asesores .left {
      width: 48.5%;
      margin-top: 2em;
      margin-bottom: 2em; }
      .tallNarrow .screen.asesores div.asesores .right .bio em, .tallNarrow .screen.asesores div.asesores .left .bio em {
        padding-bottom: 2em; }
      .tallNarrow .screen.asesores div.asesores .right .asesor, .tallNarrow .screen.asesores div.asesores .left .asesor {
        margin-top: 1.5em; }
        .tallNarrow .screen.asesores div.asesores .right .asesor p, .tallNarrow .screen.asesores div.asesores .left .asesor p {
          display: none;
          width: 24em;
          font-size: 1.5em; }
    .tallNarrow .screen.asesores div.asesores .left {
      border-right: none; }
.tallNarrow .screen.medios h1 {
  padding-top: 1em;
  padding-bottom: 0.5em; }
.tallNarrow .screen.medios .carton {
  top: auto;
  bottom: 0;
  left: 25em;
  display: none; }
  .tallNarrow .screen.medios .carton img {
    width: 35em; }
  .tallNarrow .screen.medios .carton.carton9abr {
    top: auto;
    bottom: 0;
    left: auto;
    right: 25em; }
.tallNarrow .screen.medios .citas .medio {
  margin-right: 0; }
  .tallNarrow .screen.medios .citas .medio div.logo {
    text-align: center;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 2em; }
    .tallNarrow .screen.medios .citas .medio div.logo img {
      margin-top: 2em;
      width: 35em; }
  .tallNarrow .screen.medios .citas .medio.milenio .logo img {
    width: 25em !important; }
  .tallNarrow .screen.medios .citas .medio.yonofui .logo {
    height: 8em; }
    .tallNarrow .screen.medios .citas .medio.yonofui .logo a {
      font-size: 2em; }
      .tallNarrow .screen.medios .citas .medio.yonofui .logo a img {
        height: 4em;
        width: 4em; }
  .tallNarrow .screen.medios .citas .medio .copy {
    font-size: 2.5em; }
    .tallNarrow .screen.medios .citas .medio .copy a {
      width: 30em;
      padding-bottom: 0.5em; }
      .tallNarrow .screen.medios .citas .medio .copy a .source {
        margin-top: 0.24em; }
.tallNarrow .screen.medios .logos {
  margin-top: 5.5em; }
.tallNarrow .screen.acercade h1 {
  font-size: 10em; }
.tallNarrow .screen.acercade .yo-kuma .foto img {
  margin-top: -7em; }
.tallNarrow .screen.acercade .yo-kuma img.todos {
  width: 100%;
  left: 0;
  bottom: -8em; }
.tallNarrow .screen.acercade .yo-kuma .copy {
  font-size: 1.9em; }
  .tallNarrow .screen.acercade .yo-kuma .copy p {
    margin-left: 3em;
    margin-bottom: 1em;
    width: 75%; }
  .tallNarrow .screen.acercade .yo-kuma .copy p:nth-of-type(1) {
    margin-top: 2.5em; }
.tallNarrow .screen.mapa .copy {
  font-size: 1.4em; }
  .tallNarrow .screen.mapa .copy .data-maps {
    font-size: 1.3em; }
.tallNarrow #goodbye {
  font-size: 1.3em; }
.tallNarrow #menu {
  font-size: 3em; }
.tallNarrow #fullpage.compromisos .fb, .tallNarrow #fullpage.principios .fb, .tallNarrow #fullpage.propuestas .fb {
  display: none; }
.tallNarrow #fullpage.principios .header .azulejo-top {
  top: -2%; }
.tallNarrow #fullpage.principios .header .pedro-kumamoto {
  margin-top: 5em;
  font-size: 1.5em;
  width: 100%; }
  .tallNarrow #fullpage.principios .header .pedro-kumamoto .kumalogo {
    height: 15.5em; }
  .tallNarrow #fullpage.principios .header .pedro-kumamoto h2 {
    font-size: 2.1em;
    margin-top: 0.6em; }
.tallNarrow #fullpage.principios .header .where {
  display: block;
  width: 100%;
  margin-top: 2em;
  font-size: 2em; }
.tallNarrow #fullpage.principios .screen.toc .lista .left, .tallNarrow #fullpage.principios .screen.toc .lista .right {
  width: 100%; }
  .tallNarrow #fullpage.principios .screen.toc .lista .left a, .tallNarrow #fullpage.principios .screen.toc .lista .right a {
    display: block;
    font-size: 7em;
    margin: 1.1em 0; }
    .tallNarrow #fullpage.principios .screen.toc .lista .left a:last-of-type, .tallNarrow #fullpage.principios .screen.toc .lista .right a:last-of-type {
      margin-bottom: 0; }
  .tallNarrow #fullpage.principios .screen.toc .lista .left br, .tallNarrow #fullpage.principios .screen.toc .lista .right br {
    display: none; }
.tallNarrow #fullpage.principios .screen.toc .lista .left span {
  width: 6.5em; }
  .tallNarrow #fullpage.principios .screen.toc .lista .left span img {
    padding-right: 2em; }
.tallNarrow #fullpage.principios .screen.toc .lista .right a span {
  width: 6em; }
.tallNarrow #fullpage.principios .screen.toc .lista .right a img {
  padding-left: 2em; }
.tallNarrow #fullpage.principios .screen .text h2 {
  padding-left: 2.85em;
  margin-bottom: 1.5em;
  line-height: 1em;
  font-size: 10em; }
.tallNarrow #fullpage.principios .screen .text img.kumalogo {
  left: 2em;
  height: 22em;
  top: 6em; }
.tallNarrow #fullpage.principios .screen .text h3 {
  font-size: 6em;
  margin-left: 4.7em; }
.tallNarrow #fullpage.principios .screen .text p {
  width: 75%;
  font-size: 3.5em; }
.tallNarrow #fullpage.principios .screen .text .confetti img {
  width: 20em;
  margin-left: -3em; }
.tallNarrow #fullpage.principios .screen .text .icono {
  font-size: 2em;
  margin-top: 1em; }
.tallNarrow #fullpage.propuestas .header .azulejo-top {
  top: -2%; }
.tallNarrow #fullpage.propuestas .header .pedro-kumamoto {
  margin-top: 3em;
  font-size: 1.5em;
  width: 100%; }
  .tallNarrow #fullpage.propuestas .header .pedro-kumamoto .kumalogo {
    height: 15.5em; }
  .tallNarrow #fullpage.propuestas .header .pedro-kumamoto h2 {
    font-size: 2.1em;
    margin-top: 0.6em; }
.tallNarrow #fullpage.propuestas .header .where {
  display: block;
  width: 100%;
  margin-top: 2em;
  font-size: 2em; }
.tallNarrow #fullpage.propuestas .screen.toc .ciudad, .tallNarrow #fullpage.propuestas .screen.toc .gobierno {
  width: 100%; }
  .tallNarrow #fullpage.propuestas .screen.toc .ciudad h2 a, .tallNarrow #fullpage.propuestas .screen.toc .ciudad h3 a, .tallNarrow #fullpage.propuestas .screen.toc .gobierno h2 a, .tallNarrow #fullpage.propuestas .screen.toc .gobierno h3 a {
    margin: 1.2em 0; }
  .tallNarrow #fullpage.propuestas .screen.toc .ciudad h2, .tallNarrow #fullpage.propuestas .screen.toc .gobierno h2 {
    font-size: 7em; }
  .tallNarrow #fullpage.propuestas .screen.toc .ciudad h3, .tallNarrow #fullpage.propuestas .screen.toc .gobierno h3 {
    font-size: 5em; }
.tallNarrow #fullpage.propuestas .screen.toc .ciudad h2 span {
  width: 5.4em; }
  .tallNarrow #fullpage.propuestas .screen.toc .ciudad h2 span img {
    margin-right: 2em; }
.tallNarrow #fullpage.propuestas .screen.toc .ciudad h3 span {
  width: 7.8em; }
  .tallNarrow #fullpage.propuestas .screen.toc .ciudad h3 span img {
    margin-right: 2em; }
.tallNarrow #fullpage.propuestas .screen.toc .gobierno h2 {
  margin-top: 0; }
  .tallNarrow #fullpage.propuestas .screen.toc .gobierno h2 a:nth-of-type(1) {
    margin-top: 0.5em; }
  .tallNarrow #fullpage.propuestas .screen.toc .gobierno h2 span {
    width: 5.4em; }
    .tallNarrow #fullpage.propuestas .screen.toc .gobierno h2 span img {
      margin-left: 2em; }
.tallNarrow #fullpage.propuestas .screen.toc .gobierno h3 span {
  width: 7.8em; }
  .tallNarrow #fullpage.propuestas .screen.toc .gobierno h3 span img {
    margin-left: 2em; }
.tallNarrow #fullpage.propuestas .screen.ciudad div.copy, .tallNarrow #fullpage.propuestas .screen.gobierno div.copy {
  font-size: 4em;
  width: 20em; }
.tallNarrow #fullpage.propuestas .screen .text h1 {
  font-size: 10em;
  text-align: center;
  padding-left: 0; }
.tallNarrow #fullpage.propuestas .screen .text h2 {
  padding-left: 0em;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 0.7em;
  margin-bottom: 0.1em;
  margin-left: -1em;
  line-height: 1em;
  font-size: 6em;
  text-align: center; }
  .tallNarrow #fullpage.propuestas .screen .text h2 img.kumalogo {
    position: absolute;
    left: auto;
    right: 2em;
    height: 2.5em;
    margin: 0;
    top: 0.5em; }
.tallNarrow #fullpage.propuestas .screen .text .copy {
  font-size: 3.5em; }
  .tallNarrow #fullpage.propuestas .screen .text .copy p {
    width: 75%; }
  .tallNarrow #fullpage.propuestas .screen .text .copy ol {
    width: 100%; }
    .tallNarrow #fullpage.propuestas .screen .text .copy ol li {
      width: 75%;
      margin-left: 1em; }
  .tallNarrow #fullpage.propuestas .screen .text .copy .confetti img {
    width: 20em;
    margin-left: -3em; }
  .tallNarrow #fullpage.propuestas .screen .text .copy .icono {
    margin-top: 3em; }
.tallNarrow #fullpage.compromisos .header .azulejo-top {
  top: -2%; }
.tallNarrow #fullpage.compromisos .header .pedro-kumamoto {
  margin-top: 5em;
  font-size: 1.5em;
  width: 100%; }
  .tallNarrow #fullpage.compromisos .header .pedro-kumamoto .kumalogo {
    height: 15.5em; }
  .tallNarrow #fullpage.compromisos .header .pedro-kumamoto h2 {
    font-size: 2.1em;
    margin-top: 0.6em; }
.tallNarrow #fullpage.compromisos .header .where {
  display: block;
  width: 100%;
  margin-top: 2em;
  font-size: 2em; }
.tallNarrow #fullpage.compromisos .screen.toc .header {
  margin-bottom: 8em; }
.tallNarrow #fullpage.compromisos .screen.toc p {
  font-size: 3.8em; }
.tallNarrow #fullpage.compromisos .screen.toc div.toc a {
  width: 100%;
  font-size: 11em;
  margin: 1em 0;
  text-align: center; }
.tallNarrow #fullpage.compromisos .screen.bienvenida div.copy {
  font-size: 4em;
  right: 2em;
  bottom: 2em;
  width: 20em;
  padding: 1em 2em;
  border: 1px solid #ccc; }
.tallNarrow #fullpage.compromisos .screen .text h2 {
  padding-left: 2.25em;
  margin-bottom: 0.5em;
  line-height: 1em;
  font-size: 12em; }
.tallNarrow #fullpage.compromisos .screen .text img.kumalogo {
  left: 2em;
  height: 22em;
  top: 6em; }
.tallNarrow #fullpage.compromisos .screen .text h3 {
  font-size: 6em;
  margin-left: 4.7em; }
.tallNarrow #fullpage.compromisos .screen .text ol {
  width: 75%;
  font-size: 3.5em; }
.tallNarrow #fullpage.compromisos li {
  font-size: 1.3em;
  line-height: 1.4em;
  margin: 0.7em 0; }
.tallNarrow #fullpage.compromisos ol.congreso li {
  margin: 0.2em 0; }
.tallNarrow .opentip-container .opentip {
  font-size: 3em;
  padding: 1em 1.4em;
  max-width: 18em;
  color: black !important;
  text-align: center; }
  .tallNarrow .opentip-container .opentip span {
    padding: 0 0.27em;
    margin-bottom: 0.27em; }
  .tallNarrow .opentip-container .opentip strong {
    font-size: 1.2em;
    padding: 0 0.23em;
    margin-bottom: 0.23em;
    margin-top: 0.23em; }

/*@media print {*/
/*.screen {width:11in; height:8.5in}*/
/*}*/

/*# sourceMappingURL=responsiveness.css.map */
