$crema:#f6f1e9;
$transparent:rgb(240, 236, 220);
@import "bourbon/bourbon";

/************************** ;RESPONSIVENESS **************************/
/*--------------------;SHORT WIDE--------------------*/
.shortWide {
	.screen {
		&.nosotros .galaxia div.wiki {
			width:9em; height:9em; margin:0.7em 2.6em;
			img {width:9em; height:9em}
		}
		&.video {
			.copy {bottom:1em;
				/*p {margin-top:2em}*/
				/*a {display:none}*/
			}
			/*.theater .fb img {*/
				/*margin-left:-3em; margin-top:-1em;*/
			/*}*/
		}
		&.asesores {
			h1 {line-height:1.2em}
			div.asesores {
				.right {
					width:47.5%
				}
				.center .asesor {
					.bio em { display:none }
					&:hover { margin-top:-6em;
						.bio em { display:inline-block }
					}
				}
			}
		}
		&.medios {
			h1 {margin:0;}
			.logos {margin-top:0;
				/*img {height:3.5em}*/
			}
		}
		&.acercade .yo-kuma {
			.foto img.soy-pedro {margin-top:10em}
			.copy { 
				p:nth-of-type(1) { margin-top:5.5em; }
				p {margin-bottom:2em}
			}
			img.todos {display:none}
		}
		&.mapa {
			.copy { top:0; padding-top:1em; right:-35em;
				h3 {margin-bottom:0}
			}
		}
	}
	&.mobileNotIpad {
		/*.screen {height:auto; overflow:visible}*/
		/*#goodbye {position:fixed}*/
		#fullpage {
			/*&.compromisos, &.principios, &.propuestas {*/
				/*.fb {display:none}*/
			/*}*/
		}
	}
	#fullpage {
		&.compromisos {
			.screen.toc .header { padding-top:5em; padding-bottom:1em; }
		}
		&.propuestas {
			.screen.toc .header { padding-top:5em; padding-bottom:1em; }
		}
		&.principios {
			.screen.toc {
				.lista a {margin:0.5em 0}
				.header { padding-top:5em; padding-bottom:1em; }
			}
		}
	}
}

body.mobileNotIpad {
	#fullpage {
		&.propuestas {
			.text {
				h1 {padding-left:4em; font-size:4em}
				h2 {margin-left:5em;
					.kumalogo {height:3.5em; left:1em; top:0.7em}
				}
				p, ol {width:80%}
				li {margin-left:1em}
				span.confetti {font-size:0.7em;
					img {margin:0.4em 0}
				}
			}
		}
	}
}

/*--------------------;BOXY--------------------*/
.boxy {
	.screen {
		&.video { 
			.theater {
				.date {padding-top:1em}
				#ytplayer {top:3em}
				.sidebar {width:100%; left:0; right:auto; z-index:2;
					.thumbs {display:inline-block; vertical-align:middle}
					.soundToggle, .replay {margin-top:3em; vertical-align:middle}
					.replay {margin-right:2em}
				}
				.fb img {
					margin-left:-3em; margin-top:-1em;
				}
			}
			.copy {
				p {margin-top:2em}
				a {display:none}
			}
		}
		&.asesores {
			h1 {margin:0.3em 0}
			div.asesores {
				.left, .right { margin-top:2em; margin-bottom:2em}
			}
		}
		&.medios {
			h1 {margin-top:0.8em}
			.citas .medio {margin-right:18em;
				.copy {font-size:1.3em}
			}
			.carton {top:54em;}
			.carton9abr {top:34em;}
			.ferrizStill {top:19em;}
		}
		&.nosotros .galaxia div.wiki { margin:1.4em 2em}
		&.acercade .yo-kuma {
			.foto img {margin-top:0;}
			.copy {font-size:1.2em; 
				p {margin-bottom:2em}
			}
		}
	}
}

/*--------------------;PORTRAIT--------------------*/
.portrait {
	#menu {font-size:3em}
	#goodbye {font-size:1.3em}

	.screen {
		&.video {background:black;
			.theater { top:20em;
				.date {padding-top:1em}
				#ytplayer {top:3em; margin-left:auto}
				.sidebar {width:100%; left:0; right:auto; z-index:2;
					.thumbs {display:inline-block; vertical-align:middle}
					.soundToggle, .replay {margin-top:3em; vertical-align:middle}
					.replay {margin-right:2em}
				}
				.fb img {
					margin-left:-3em; margin-top:-1em;
				}
			}
			.copy {bottom:0; padding-bottom:13em; background:#ADDFD7; 
				h1 {top:2em}
				p {margin-top:2em; font-size:2.5em}
			}
		}

		&.nosotros {
			h1 {width:100%; margin:0.4em 0;
				a {bottom:1.5em; right:7.2em}
			}
			.galaxia {
				.azulejo-top {top:-2%} .azulejo-bottom {bottom:-2%}
				div.wiki { margin:1.5em 1.5em; width:15em; height:15em;
					img {width:15em; height:15em;}
					span {font-size:3em}
				}
			}
		}
		&.asesores {
			h1 {margin-top:0.3em; margin-bottom:0.3em}
			div.asesores { font-size:1.2em;
				.center {margin-left:-7em;
					.bottom {
						position:absolute; width:20em;
						.asesor {margin-bottom:2em}
					}
				}
				.right, .left {
					width:51.5%;
				}
				.left {border-top:1px solid #aaa; padding-top:2%; padding-right:2%}
			}
		}
		&.medios {
			h1 {margin-top:1em; margin-bottom:0.8em}
			.carton {top:auto; bottom:0; right:auto; left:15em; 
				img {width:35em}
				&.carton9abr {top:auto; bottom:0; left:auto; right:10em}
			}
			.ferrizStill {top:auto; bottom:0; left:auto; right:48em; 
				img {width:42em; @include transform(rotate(5deg)); }
			}
			.citas .medio { margin-right:0;
				div.logo img {margin-top:2em; width:30em}
				.copy {font-size:1.8em;
					a {width:30em}
				}
			}
			.logos {margin-top:3.5em}
		}
		&.acercade .yo-kuma {
			.foto img {margin-top:-7em;}
			img.todos {width:100%; left:0}
			.copy {font-size:1.6em; 
				p {margin-left:3em; margin-bottom:2.5em}
			}
		}
		&.mapa {
			.copy {font-size:1.5em}
		}
	}
	
	#fullpage {
		&.compromisos {
			.screen.toc {
				.header {margin-bottom:8em;}
				p { font-size:2.8em; }
				div.toc {
					a {width:100%; font-size:8em; margin:1em 0; text-align:center}
				}
			}
			.screen.bienvenida {
				div.copy {font-size:2.3em; right:14em}
			}
			.screen .text {
				h2 {padding-left:2.25em; margin-bottom:1em}
				img.kumalogo {left:2em}
				h3 {margin-left:4.6em}
				ol {width:75%}
			}
			li {font-size:1.3em; line-height:1.4em; margin:1em 0}
		}
		&.principios {
			.header {
				.azulejo-top {top:-2%}
				.pedro-kumamoto {margin-top:5em; font-size:1.5em; width:100%;
					.kumalogo {height:15.5em}
					h2 {font-size:2.1em; margin-top:0.6em }
				}
				.where {display:block; width:100%; margin-top:2em; font-size:2em; }
			}
			.screen.toc .lista {
				.left, .right { width:100%;
					a {display:block; font-size:5em; margin:1.1em 0;
						&:last-of-type {margin-bottom:0}
					}
					br {display:none}
				}
				.left {
					a:first-of-type {margin-top:0}
					span {width:6.5em;
						img {padding-right:2em}
					}
				}
				.right {
					a {
						span {width:6em;}
						img {padding-left:2em}
					}
				}
			}
			.screen .text {
				h2 {padding-left:3em; margin-bottom:1.5em; line-height:1.3em;}
				img.kumalogo {left:2em; height:10em}
				h3 {margin-left:4.6em}
				p {width:80%; font-size:2em}
				.confetti {margin:2em 0;
					img {width:25em}
				}
				.icono {font-size:1.2em; margin-top:1em}
			}
		}
		&.propuestas {
			.header {
				.azulejo-top {top:-2%}
				.pedro-kumamoto {margin-top:3em; font-size:1.5em; width:100%;
					.kumalogo {height:15.5em}
					h2 {font-size:2.1em; margin-top:0.6em }
				}
				.where {display:block; width:100%; margin-top:2em; font-size:1.6em; }
			}
			.screen {
				&.toc {
					.ciudad, .gobierno { width:100%;
						h2, h3 { a {margin:1.3em 0;} }
						h2 {font-size:5em}
						h3 {font-size:4em}
					}
					.ciudad {
						h2 {
							a {margin-top:0}
							span {width:5.4em;
								img {margin-right:2em}
							}
						}
						h3 span {width:7.8em;
							img {margin-right:2em}
						}
					}
					.gobierno {
						h2 {margin-top:0; 
							a:nth-of-type(1) {margin-top:0.5em }
							span {width:5.4em;
								img {margin-left:2em}
							}
						}
						h3 span {width:7.8em;
							img {margin-left:2em}
						}
					}
				}
				&.ciudad, &.gobierno {
					div.copy {font-size:3em; width:20em}
				}
				.text {
					h1 {text-align:center; padding-left:0; font-size:6.5em;}
					h2 {padding-left:0em; margin:0; padding-top:1em; padding-right:1em; padding-bottom:0.7em; margin-bottom:0.1em; margin-left:-1em; line-height:1em; text-align:center; position:relative;
						img.kumalogo {position:absolute; left:auto; right:1.5em; height:2.5em; margin:0; top:0.5em;}
					}
					.copy {font-size:2.5em;
						p {width:80%; padding-left:3em}
						ol {width:100%; padding-left:2em;
							li {width:80%; margin-left:1em}
						}
						.confetti img {width:25em;}
						.icono {margin-top:3em}
					}
				}
			}
		}
	}
}

/*--------------------;TALL NARROW--------------------*/
.tallNarrow {
	&.mobileNotIpad {
		#fullpage.home {
			/*.screen {height:auto; overflow:visible}*/
			/*#goodbye {position:fixed}*/
		}
		.screen.asesores {
			.asesor .bio em {pointer-events:none}
		}
	}
	.screen.video {background:black;
		.theater { top:40em;
			.date {padding-top:1em}
			#ytplayer {top:3em; margin-left:auto}
			.sidebar {width:100%; left:0; right:auto; z-index:2;
				.thumbs {display:inline-block; vertical-align:middle}
				.soundToggle, .replay {margin-top:3em; vertical-align:middle}
				.replay {margin-right:2em}
			}
			.fb img {
				margin-left:-3em; margin-top:-1em;
			}
		}
		.copy {bottom:0; padding-bottom:15em; background:#ADDFD7; 
			h1 {top:2em}
			p {margin-top:2em; font-size:2.5em}
		}
	}
	
	.screen.nosotros {
		h1 {width:10.8em; margin:0.4em 0; font-size:8em;
			a {bottom:-0.6em; right:8.2em}
		}
		.galaxia {
			.azulejo-top {top:-0.2%} .azulejo-bottom {bottom:-0.2%}
			div.wiki { margin:2.7em 1.8em; width:18em; height:18em;
				img {width:18em; height:18em;}
				span {font-size:3.5em}
				&:last-of-type {margin-right:23em}
			}
		}
	}
	.screen.asesores {padding-bottom:4em;
		h1 {margin:0.5em 0;}
		div.asesores {font-size:1.8em;
			.asesor {
				a.twitter {display:none}
				em {font-style:normal; font-size:1.2em}
				span.name {font-size:1.9em}
				.bio em { display:none }
				&:hover { 
					.bio em { display:inline-block }
				}
			}
			
			.center {margin:2em 0;
				.asesor &:hover {margin-top:-6em;}
				.bottom { display:block; margin-top:1em}
			}
			.right, .left {width:48.5%; margin-top:2em; margin-bottom:2em;
				.bio em {padding-bottom:2em}
				.asesor {margin-top:1.5em;
					p {display:none; width:24em; font-size:1.5em }
				}
			}
			.left {border-right:none}
		}
	}
	.screen.medios {
		h1 {padding-top:1em; padding-bottom:0.5em}
		.carton {top:auto; bottom:0; left:25em;  display:none;
			img {width:35em}
			&.carton9abr {top:auto; bottom:0; left:auto; right:25em}
		}
		.citas .medio {margin-right:0;
			div.logo { text-align:center; width:100%; margin-top:3em; margin-bottom:2em;
				img {margin-top:2em; width:35em}
			}
			&.milenio .logo img {width:25em !important}
			&.yonofui {
				.logo {height:8em;
					a {font-size:2em;
						img {height:4em; width:4em;}
					}
				}
			}
			.copy {font-size:2.5em;
				a {width:30em; padding-bottom:0.5em;
					.source {margin-top:0.24em}
				}
			}
		}
		.logos {margin-top:5.5em}
	}
	.screen.acercade {
		h1 {font-size:10em;}
		.yo-kuma {
			.foto img {margin-top:-7em;}
			img.todos {width:100%; left:0; bottom:-8em}
			.copy {font-size:1.9em; 
				p {margin-left:3em; margin-bottom:1em; width:75%}
				p:nth-of-type(1) { margin-top:2.5em; }
			}
		}
	}
	.screen.mapa .copy { font-size:1.4em;
		.data-maps {font-size:1.3em}
	}

	#goodbye {font-size:1.3em}
	#menu {font-size:3em}
	
	#fullpage {
		&.compromisos, &.principios, &.propuestas {
			.fb {display:none}
		}
		&.principios {
			.header {
				.azulejo-top {top:-2%}
				.pedro-kumamoto {margin-top:5em; font-size:1.5em; width:100%;
					.kumalogo {height:15.5em}
					h2 {font-size:2.1em; margin-top:0.6em }
				}
				.where {display:block; width:100%; margin-top:2em; font-size:2em; }
			}
			.screen.toc .lista {
				.left, .right { width:100%;
					a {display:block; font-size:7em; margin:1.1em 0;
						&:last-of-type {margin-bottom:0}
					}
					br {display:none}
				}
				.left {
					span {width:6.5em;
						img {padding-right:2em}
					}
				}
				.right {
					a {
						span {width:6em;}
						img {padding-left:2em}
					}
				}
			}
			.screen .text {
				h2 {padding-left:2.85em; margin-bottom:1.5em; line-height:1em; font-size:10em}
				img.kumalogo {left:2em; height:22em; top:6em}
				h3 {font-size:6em; margin-left:4.7em}
				p {width:75%; font-size:3.5em}
				.confetti img {width:20em; margin-left:-3em}
				.icono {font-size:2em; margin-top:1em}
			}
		}
		&.propuestas {
			.header {
				.azulejo-top {top:-2%}
				.pedro-kumamoto {margin-top:3em; font-size:1.5em; width:100%;
					.kumalogo {height:15.5em}
					h2 {font-size:2.1em; margin-top:0.6em }
				}
				.where {display:block; width:100%; margin-top:2em; font-size:2em; }
			}
			.screen {
				&.toc {
					.ciudad, .gobierno { width:100%;
						h2, h3 { a {margin:1.2em 0;} }
						h2 {font-size:7em}
						h3 {font-size:5em}
					}
					.ciudad {
						h2 span {width:5.4em;
							img {margin-right:2em}
						}
						h3 span {width:7.8em;
							img {margin-right:2em}
						}
					}
					.gobierno {
						h2 {margin-top:0; 
							a:nth-of-type(1) {margin-top:0.5em }
							span {width:5.4em;
								img {margin-left:2em}
							}
						}
						h3 span {width:7.8em;
							img {margin-left:2em}
						}
					}
				}
				&.ciudad, &.gobierno {
					div.copy {font-size:4em; width:20em}
				}
				.text {
					h1 {font-size:10em; text-align:center; padding-left:0; }
					h2 {padding-left:0em; margin:0; padding-top:1em; padding-bottom:0.7em; margin-bottom:0.1em; margin-left:-1em; line-height:1em; font-size:6em; text-align:center;
						img.kumalogo {position:absolute; left:auto; right:2em; height:2.5em; margin:0; top:0.5em;}
					}
					.copy {font-size:3.5em;
						p {width:75%}
						ol {width:100%;
							li {width:75%; margin-left:1em}
						}
						.confetti img {width:20em; margin-left:-3em}
						.icono {margin-top:3em}
					}
				}
			}
		}
		&.compromisos {
			.header {
				.azulejo-top {top:-2%}
				.pedro-kumamoto {margin-top:5em; font-size:1.5em; width:100%;
					.kumalogo {height:15.5em}
					h2 {font-size:2.1em; margin-top:0.6em }
				}
				.where {display:block; width:100%; margin-top:2em; font-size:2em; }
			}
			.screen.toc {
				.header {margin-bottom:8em;}
				p { font-size:3.8em; }
				div.toc {
					a {width:100%; font-size:11em; margin:1em 0; text-align:center}
				}
			}
			.screen.bienvenida {
				div.copy {font-size:4em; right:2em; bottom:2em; width:20em; padding:1em 2em; border:1px solid #ccc}
			}
			.screen .text {
				h2 {padding-left:2.25em; margin-bottom:0.5em; line-height:1em; font-size:12em}
				img.kumalogo {left:2em; height:22em; top:6em}
				h3 {font-size:6em; margin-left:4.7em}
				ol {width:75%; font-size:3.5em}
			}
			li {font-size:1.3em; line-height:1.4em; margin:0.7em 0}
			ol.congreso li {margin:0.2em 0}
		}
	}
	.opentip-container {
		.opentip { font-size:3em; padding:1em 1.4em; max-width:18em; color:black !important; text-align:center;
			span {padding:0 0.27em; margin-bottom:0.27em}
			strong {
				font-size:1.2em;
				padding:0 0.23em; margin-bottom:0.23em; margin-top:0.23em;
			}
		}
	}
}

/*@media print {*/
	/*.screen {width:11in; height:8.5in}*/
/*}*/
