body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
  background: #fff; }

/*html {padding-bottom:80px;}*/
/* INDEX */
/* SCREEN */
.screen {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* SPLASH */
  /* COVER */
  /* VIDEO */
  /* NOSOTROS */
  /* MEDIOS */
  /* ASESORES */
  /* ACERCA DE */
  /* MAPA */ }
  .screen.splash img.kumafoto {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-filter: blur(10px); }
  .screen.splash .copy {
    padding: 2.5em 0 0 2.5em;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none; }
    .screen.splash .copy .kumalogo {
      float: left;
      margin-right: 2.5em;
      height: 20em;
      margin-top: 5px;
      opacity: 0;
      position: relative;
      z-index: 2; }
    .screen.splash .copy h1 {
      padding-top: 0;
      margin-top: 0;
      font-size: 10em;
      line-height: 1em;
      font-family: "Lemon/Milk", Helvetica, Arial;
      margin-bottom: 0;
      position: relative;
      color: transparent; }
      .screen.splash .copy h1 img {
        height: 0.8em;
        vertical-align: middle; }
      .screen.splash .copy h1.pedro {
        right: 0;
        top: -400px; }
      .screen.splash .copy h1.kumamoto {
        right: 0;
        opacity: 0; }
    .screen.splash .copy h3 {
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      font-size: 3em;
      margin: 0;
      opacity: 0;
      font-weight: 200;
      position: absolute;
      top: 8em;
      left: 0.8em; }
      .screen.splash .copy h3 strong, .screen.splash .copy h3 bold {
        font-weight: 700;
        font-size: inherit; }
    .screen.splash .copy h2 {
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      font-weight: 200;
      font-size: 5em;
      margin: 0.3em 0 0 0;
      position: absolute;
      left: -17.9em;
      top: 6em;
      text-transform: uppercase;
      line-height: 1.1em; }
    .screen.splash .copy h4 {
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      font-size: 3.5em;
      color: #fff;
      font-weight: 200;
      padding: 0;
      position: absolute;
      bottom: 2.5em;
      left: 0.6em;
      text-shadow: 2px 2px 5px #555; }
      .screen.splash .copy h4 strong {
        font-weight: 700;
        color: #379088;
        text-transform: uppercase; }
  .screen.splash .kitkumamoto {
    position: absolute;
    bottom: 30px;
    right: -480px;
    text-align: center;
    padding: 0;
    width: 400px;
    background-size: 300px auto;
    text-decoration: none;
    color: black; }
    .screen.splash .kitkumamoto img {
      width: 33em; }
    .screen.splash .kitkumamoto:hover {
      transform: scale(1.3, 1.3); }
  .screen.splash .goodbye {
    position: absolute;
    bottom: 0;
    background: #333;
    height: 5em;
    line-height: 4em;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
    z-index: 2; }
    .screen.splash .goodbye h1 {
      display: inline-block;
      margin: 0;
      font-size: 2.5em;
      height: 100%;
      margin-right: 2.5em;
      vertical-align: middle; }
      .screen.splash .goodbye h1 span {
        display: inline-block;
        margin-top: 0.1em; }
    .screen.splash .goodbye span.linea-kumamoto {
      font-size: 2em; }
      .screen.splash .goodbye span.linea-kumamoto a {
        color: #fff !important;
        text-decoration: none; }
      .screen.splash .goodbye span.linea-kumamoto strong {
        text-transform: uppercase;
        font-weight: 200;
        margin-left: 0.8em;
        vertical-align: middle;
        display: inline-block; }
    .screen.splash .goodbye img {
      vertical-align: middle;
      height: 2.5em; }
    .screen.splash .goodbye img.whatsapp {
      height: 1.25em; }
    .screen.splash .goodbye .redes {
      display: inline-block;
      margin: 0 2em;
      padding: 0 1em;
      margin-right: 4em; }
      .screen.splash .goodbye .redes img {
        margin-right: 1.1em; }
      .screen.splash .goodbye .redes .fb {
        margin-right: 10.5em; }
        .screen.splash .goodbye .redes .fb img {
          position: absolute;
          height: 8em;
          top: -2.6em; }
    .screen.splash .goodbye .wikipolitica {
      display: inline-block; }
  .screen.splash.portrait .copy {
    padding-top: 1.5em; }
    .screen.splash.portrait .copy h1.pedro {
      font-size: 18em;
      margin-bottom: 0; }
    .screen.splash.portrait .copy h1.kumamoto {
      display: inline-block;
      font-size: 14em; }
    .screen.splash.portrait .copy h3 {
      top: 8.7em;
      left: 0.7em;
      font-size: 3.8em; }
      .screen.splash.portrait .copy h3 span {
        display: none; }
    .screen.splash.portrait .copy .kumalogo {
      height: 35em;
      position: absolute;
      top: 40em;
      display: block; }
    .screen.splash.portrait .copy h2 {
      font-size: 8em;
      right: 17.85em;
      left: auto;
      top: auto;
      bottom: 3.5em;
      width: 14em;
      color: #fff; }
    .screen.splash.portrait .copy h4 {
      top: auto;
      left: auto;
      bottom: 4em;
      right: 4em; }
      .screen.splash.portrait .copy h4 strong {
        color: #66CAC1; }
  .screen.splash.portrait .goodbye {
    font-size: 1.3em; }
  .screen.cover img.kumafoto {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-filter: blur(10px); }
  .screen.cover .copy {
    padding: 2.5em 0 0 2.5em;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none; }
    .screen.cover .copy .kumalogo {
      float: left;
      margin-right: 2.5em;
      height: 20em;
      margin-top: 5px;
      opacity: 0;
      position: relative;
      z-index: 2; }
    .screen.cover .copy h1 {
      padding-top: 0;
      margin-top: 0;
      font-size: 10em;
      line-height: 1em;
      font-family: "Lemon/Milk", Helvetica, Arial;
      margin-bottom: 0;
      position: relative;
      color: transparent; }
      .screen.cover .copy h1 img {
        height: 0.8em;
        vertical-align: middle; }
      .screen.cover .copy h1.pedro {
        right: 0;
        top: -400px; }
      .screen.cover .copy h1.kumamoto {
        right: 0;
        opacity: 0; }
    .screen.cover .copy h3 {
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      font-size: 3em;
      margin: 0;
      opacity: 0;
      font-weight: 200;
      position: absolute;
      top: 8em;
      left: 0.8em; }
      .screen.cover .copy h3 strong, .screen.cover .copy h3 bold {
        font-weight: 700;
        font-size: inherit; }
    .screen.cover .copy h2 {
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      font-weight: 200;
      font-size: 5em;
      margin: 0.3em 0 0 0;
      position: absolute;
      left: -17.9em;
      top: 6em;
      text-transform: uppercase;
      line-height: 1.1em; }
    .screen.cover .copy h4 {
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      font-size: 3.5em;
      color: #fff;
      font-weight: 200;
      padding: 0;
      position: absolute;
      bottom: 2.5em;
      left: 0.6em;
      text-shadow: 2px 2px 5px #555; }
      .screen.cover .copy h4 strong {
        font-weight: 700;
        color: #379088;
        text-transform: uppercase; }
  .screen.cover .redes {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 110px;
    line-height: 30px;
    z-index: 2; }
    .screen.cover .redes img {
      width: 30px;
      opacity: 0;
      -webkit-filter: grayscale(1); }
    .screen.cover .redes a.fb img {
      width: 60px;
      float: left;
      margin-right: 10px; }
    .screen.cover .redes a:hover img {
      -webkit-filter: grayscale(0); }
  .screen.cover .kitkumamoto {
    position: absolute;
    bottom: 63px;
    right: -480px;
    text-align: center;
    padding: 0;
    width: 400px;
    height: 400px;
    background-size: 300px auto;
    text-decoration: none;
    color: black;
    color: white; }
    .screen.cover .kitkumamoto:hover {
      transform: scale(1.3, 1.3);
      color: #d88283; }
    .screen.cover .kitkumamoto img {
      width: 400px; }
    .screen.cover .kitkumamoto em {
      display: block;
      margin-top: -320px;
      margin-left: -20px;
      font-size: 30px;
      font-style: normal;
      font-family: "Besom";
      text-transform: uppercase; }
    .screen.cover .kitkumamoto strong {
      font-size: 45px;
      margin-top: 5px;
      margin-left: -20px;
      display: block;
      font-family: "Besom";
      display: block; }
  .screen.cover.portrait .copy {
    padding-top: 1.5em; }
    .screen.cover.portrait .copy h1.pedro {
      font-size: 18em;
      margin-bottom: 0; }
    .screen.cover.portrait .copy h1.kumamoto {
      display: inline-block;
      font-size: 14em; }
    .screen.cover.portrait .copy h3 {
      top: 8.7em;
      left: 0.7em;
      font-size: 3.8em; }
      .screen.cover.portrait .copy h3 span {
        display: none; }
    .screen.cover.portrait .copy .kumalogo {
      height: 35em;
      position: absolute;
      top: 40em;
      display: block; }
    .screen.cover.portrait .copy h2 {
      font-size: 8em;
      right: 17.85em;
      left: auto;
      top: auto;
      bottom: 3.5em;
      width: 14em;
      color: #fff; }
    .screen.cover.portrait .copy h4 {
      top: auto;
      left: auto;
      bottom: 4em;
      right: 4em; }
      .screen.cover.portrait .copy h4 strong {
        color: #66CAC1; }
  .screen.cover.portrait .goodbye {
    font-size: 1.3em; }
  .screen.video {
    background-color: #c8e5f0;
    color: black;
    text-align: center;
    position: relative; }
    .screen.video .theater {
      overflow: hidden;
      background: #607F8C;
      width: 100%;
      position: absolute;
      top: 0; }
      .screen.video .theater #ytplayer {
        width: 100%;
        margin: 0 auto;
        display: inline-block;
        position: absolute;
        top: 60px;
        transition: all 0.2s ease; }
      .screen.video .theater .sidebar {
        position: absolute;
        width: 200px;
        right: 0;
        top: 0;
        height: 100%;
        overflow: auto;
        text-align: center; }
        .screen.video .theater .sidebar .soundToggle {
          height: 80px;
          width: 80px;
          margin-top: 60px;
          margin-bottom: 30px;
          position: relative;
          display: inline-block;
          overflow: hidden;
          transition: all 0.2s ease;
          cursor: pointer; }
          .screen.video .theater .sidebar .soundToggle img {
            height: 80px; }
          .screen.video .theater .sidebar .soundToggle.muted img {
            position: absolute;
            top: 0;
            left: 0; }
          .screen.video .theater .sidebar .soundToggle.unMuted img {
            position: absolute;
            top: 0;
            left: -80px; }
          .screen.video .theater .sidebar .soundToggle:hover {
            transform: scale(1.3, 1.3); }
        .screen.video .theater .sidebar .thumbs img {
          width: 200px;
          height: 111px;
          margin: 10px 5px;
          -webkit-filter: grayscale(1);
          cursor: pointer; }
          .screen.video .theater .sidebar .thumbs img:hover, .screen.video .theater .sidebar .thumbs img.active {
            -webkit-filter: grayscale(0);
            opacity: 1; }
    .screen.video .copy {
      position: absolute;
      bottom: 7em;
      width: 100%; }
      .screen.video .copy h1 {
        font-size: 5.6em;
        line-height: 0.5em;
        margin: 0;
        margin-right: 0.5em;
        margin-top: 30px;
        position: relative;
        top: 0.2em;
        display: inline-block;
        text-transform: uppercase;
        font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
        font-weight: 200; }
        .screen.video .copy h1 span {
          opacity: 0;
          position: relative;
          display: inline-block;
          transition: all 8s ease; }
          .screen.video .copy h1 span.muros {
            font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
            font-weight: 500; }
          .screen.video .copy h1 span.si {
            font-size: 150%;
            top: 15px;
            color: #985f60;
            font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
            font-weight: bold; }
      .screen.video .copy p {
        font-family: "L Futura W01", Helvetica;
        width: 450px;
        color: #000;
        display: inline-block;
        margin: 0 auto;
        vertical-align: top;
        text-align: left;
        font-size: 1.4em;
        opacity: 0; }
        .screen.video .copy p span {
          display: block;
          margin: 10px 0; }
        .screen.video .copy p strong {
          transition: all 4s ease; }
  .screen.nosotros {
    background: #f6f1e9;
    color: white;
    text-align: center; }
    .screen.nosotros h1 {
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      color: #000;
      text-align: center;
      margin: 0;
      font-size: 7em;
      display: inline-block;
      line-height: 1.7em;
      vertical-align: middle;
      width: 8.2em;
      text-transform: uppercase;
      position: relative; }
      .screen.nosotros h1 img {
        height: 1.5em;
        vertical-align: middle; }
      .screen.nosotros h1 a {
        position: absolute;
        bottom: 0;
        font-size: 0.4em;
        line-height: 1em;
        right: 60px;
        font-weight: 200;
        color: #999;
        text-decoration: none; }
        .screen.nosotros h1 a:hover {
          color: #985f60; }
    .screen.nosotros .galaxia {
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      line-height: initial; }
      .screen.nosotros .galaxia > a {
        display: inline-block;
        width: 12.5em;
        height: 12.5em;
        margin: 1.6em 3.3em;
        text-align: center;
        position: relative;
        text-decoration: none;
        vertical-align: middle;
        opacity: 0;
        transition: all 0.2s ease; }
        .screen.nosotros .galaxia > a span {
          color: white;
          font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 2.5em;
          position: absolute;
          bottom: 0.2em;
          line-height: 1em;
          visibility: hidden;
          display: inline-block;
          width: 5em;
          text-align: center;
          /*-webkit-text-stroke-width:2px; -webkit-text-stroke-color:#000;*/
          z-index: 2; }
        .screen.nosotros .galaxia > a img {
          width: 12.5em;
          height: 12.5em;
          position: relative;
          z-index: 1;
          border-radius: 1.6em;
          box-shadow: 2px 2px 3px #999;
          /*-webkit-filter:blur(5px) grayscale(1);*/ }
        .screen.nosotros .galaxia > a:hover {
          /*transform:scale(1.3,1.3);*/ }
          .screen.nosotros .galaxia > a:hover img {
            box-shadow: 2px 2px 3px #555;
            vertical-align: middle;
            /*-webkit-filter:blur(0) grayscale(0);*/ }
          .screen.nosotros .galaxia > a:hover span {
            visibility: visible; }
  .screen.medios {
    background: #fff;
    z-index: 2; }
    .screen.medios h1 {
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      font-weight: 200;
      font-size: 7em;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;
      text-transform: uppercase;
      letter-spacing: 0; }
      .screen.medios h1 strong {
        font-family: "FF Meta W01", Helvetica, Arial, sans-serif; }
    .screen.medios .carton {
      position: absolute;
      left: -340px;
      top: 320px;
      z-index: 5; }
      .screen.medios .carton img {
        width: 300px;
        box-shadow: 2px 2px 3px #aaa;
        -webkit-filter: grayscale(0);
        transform: rotate(-10deg);
        transition: all 1s ease;
        position: relative;
        left: 0; }
      .screen.medios .carton:hover img {
        -webkit-filter: grayscale(0);
        transform: scale(1.3, 1.3) rotate(0deg);
        left: 100px; }
    .screen.medios .logos {
      text-align: center;
      margin: 0 auto;
      margin-top: 30px;
      width: 90%; }
      .screen.medios .logos a {
        opacity: 0; }
      .screen.medios .logos img {
        height: 50px;
        display: inline-block;
        margin: 10px 20px;
        vertical-align: middle;
        -webkit-filter: grayscale(0);
        transition: all 0.2s ease; }
      .screen.medios .logos a:hover img {
        -webkit-filter: grayscale(0);
        transform: scale(1.3, 1.3); }
      .screen.medios .logos a.void {
        cursor: default; }
    .screen.medios .citas {
      display: block;
      width: 100%;
      font-size: 1.3em;
      margin: 0 auto;
      padding: 10px 0;
      position: relative;
      background: #f6f1e9; }
      .screen.medios .citas .medio {
        text-decoration: none;
        color: black;
        overflow: hidden;
        text-align: center;
        font-family: "L Futura W01", Helvetica;
        display: block;
        margin: 0;
        position: relative; }
        .screen.medios .citas .medio a {
          text-decoration: none;
          color: #000; }
        .screen.medios .citas .medio .copy {
          display: inline-block;
          width: 40em;
          vertical-align: top; }
          .screen.medios .citas .medio .copy a {
            padding: 1em;
            display: inline-block;
            text-align: left;
            width: 40em;
            vertical-align: top; }
            .screen.medios .citas .medio .copy a .source {
              text-align: right;
              color: #999;
              margin-top: 10px; }
              .screen.medios .citas .medio .copy a .source em {
                color: #379088; }
            .screen.medios .citas .medio .copy a:hover {
              background: #fff; }
            .screen.medios .citas .medio .copy a strong {
              transition: all 2s ease; }
        .screen.medios .citas .medio .asesor {
          display: none; }
        .screen.medios .citas .medio div.logo {
          display: inline-block;
          width: 25%;
          text-align: right;
          height: 5em; }
          .screen.medios .citas .medio div.logo img {
            width: 25em;
            margin-top: 1em;
            margin-right: 2em;
            -webkit-filter: grayscale(0);
            transition: all 0.2s ease; }
        .screen.medios .citas .medio.maspormas {
          left: -1500px; }
          .screen.medios .citas .medio.maspormas div.logo img {
            width: 20em;
            margin-right: 4em; }
        .screen.medios .citas .medio.milenio {
          left: 1500px; }
        .screen.medios .citas .medio.informador {
          left: -1500px; }
        .screen.medios .citas .medio:hover div.logo img {
          -webkit-filter: grayscale(0);
          transform: scale(1.1, 1.1); }
  .screen.asesores {
    text-align: center;
    background: #f6f1e9;
    z-index: 1;
    position: relative; }
    .screen.asesores h1 {
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 7em;
      text-align: center;
      margin: 0;
      text-transform: uppercase;
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 2;
      color: #000;
      text-align: center;
      width: 100%; }
      .screen.asesores h1 strong {
        font-family: "FF Meta W01", Helvetica, Arial, sans-serif; }
    .screen.asesores div.asesores {
      margin-top: 100px; }
      .screen.asesores div.asesores .asesor img {
        height: 100px;
        margin-right: 10px; }
      .screen.asesores div.asesores .asesor .bio {
        display: inline-block;
        width: 250px;
        height: 100px;
        vertical-align: top;
        text-align: left; }
        .screen.asesores div.asesores .asesor .bio strong {
          display: block;
          font-size: 150%; }
      .screen.asesores div.asesores .asesor p {
        display: inline-block;
        height: 100px;
        width: 400px;
        vertical-align: top;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: left;
        font-size: 130%; }
  .screen.acercade {
    text-align: center;
    background: #f6f1e9;
    z-index: 1;
    position: relative; }
    .screen.acercade h1 {
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      font-weight: 200;
      font-size: 7em;
      text-align: center;
      margin: 0;
      text-transform: uppercase;
      opacity: 0;
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 2;
      color: #fff;
      width: 50%;
      text-align: center; }
      .screen.acercade h1 strong {
        font-family: "FF Meta W01", Helvetica, Arial, sans-serif; }
    .screen.acercade .yo-kuma {
      overflow: hidden; }
      .screen.acercade .yo-kuma .foto {
        width: 50%;
        float: left;
        text-align: right;
        overflow: hidden; }
        .screen.acercade .yo-kuma .foto img {
          width: 100%;
          -webkit-filter: grayscale(1);
          transition: all 2s ease; }
      .screen.acercade .yo-kuma .copy {
        width: 50%;
        float: left;
        text-align: left;
        position: relative;
        font-family: "L Futura W01", Helvetica; }
        .screen.acercade .yo-kuma .copy strong, .screen.acercade .yo-kuma .copy b {
          transition: all 2s ease; }
        .screen.acercade .yo-kuma .copy p {
          width: 70%;
          text-align: left;
          font-size: 1.5em;
          margin-left: 80px; }
        .screen.acercade .yo-kuma .copy p:nth-of-type(1) {
          margin-top: 130px; }
        .screen.acercade .yo-kuma .copy p:nth-of-type(2) {
          margin-top: 60px; }
        .screen.acercade .yo-kuma .copy .todos {
          width: 100%;
          position: absolute;
          bottom: 0; }
  .screen.mapa {
    background: #555;
    text-align: center;
    position: relative; }
    .screen.mapa h1 {
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      font-size: 4em;
      text-align: center;
      text-transform: uppercase;
      margin: 0; }
    .screen.mapa h2 {
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      font-weight: 200;
      font-size: 1.7em;
      text-align: center;
      text-transform: uppercase;
      margin: 0; }
    .screen.mapa h3 {
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      font-size: 2em;
      text-transform: uppercase;
      margin-top: 40px;
      margin-bottom: 10px; }
    .screen.mapa a.mapa img {
      width: 100%;
      position: absolute;
      top: -60px; }
    .screen.mapa .copy {
      position: absolute;
      top: 30px;
      right: -330px;
      background: #fff;
      padding: 30px;
      z-index: 3;
      box-shadow: 0px 3px 5px #999; }
      .screen.mapa .copy .data-maps img {
        transition: all 0.2s ease;
        height: 150px;
        width: 98px;
        margin: 10px;
        background-repeat: no-repeat; }
        .screen.mapa .copy .data-maps img:hover {
          transform: scale(1.2, 1.2); }
    .screen.mapa .goodbye {
      position: absolute;
      bottom: 0;
      background: #555;
      height: 60px;
      line-height: 50px;
      width: 100%;
      text-align: center;
      color: #fff;
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif; }
      .screen.mapa .goodbye h1 {
        display: inline-block;
        margin: 0;
        font-size: 2.5em;
        margin-right: 2.5em;
        vertical-align: middle; }
      .screen.mapa .goodbye span.linea-kumamoto {
        font-size: 1.7em; }
        .screen.mapa .goodbye span.linea-kumamoto strong {
          text-transform: uppercase;
          font-weight: 200;
          margin-left: 10px;
          vertical-align: middle;
          display: inline-block; }
      .screen.mapa .goodbye img {
        vertical-align: middle;
        height: 35px; }
      .screen.mapa .goodbye .redes {
        display: inline-block;
        margin: 0 2em;
        padding: 0 1em;
        margin-right: 4em; }
        .screen.mapa .goodbye .redes img {
          margin-right: 15px; }
      .screen.mapa .goodbye .wikipolitica {
        display: inline-block; }

/************************** PROPUESTAS **************************/
.propuestas .screen p strong {
  color: #c87072; }
.propuestas .screen ul strong, .propuestas .screen b {
  color: #379088; }
.propuestas .screen h1 {
  font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 7em;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  z-index: 2;
  color: #000;
  width: 100%;
  text-align: center;
  margin-top: 0; }
  .propuestas .screen h1 strong {
    font-family: "FF Meta W01", Helvetica, Arial, sans-serif; }
.propuestas .screen .copy {
  font-size: 1.5em;
  position: relative; }
  .propuestas .screen .copy img {
    height: 200px; }
  .propuestas .screen .copy span.hidden, .propuestas .screen .copy span.menos {
    display: none; }
  .propuestas .screen .copy a.leer-mas {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    background: #eee;
    display: inline-block;
    float: right;
    padding: .5em 1em;
    margin-right: 1em;
    font-family: "FF Meta W01", Helvetica, Arial, sans-serif; }
    .propuestas .screen .copy a.leer-mas:hover {
      text-decoration: underline;
      background: #555;
      color: #fff; }
  .propuestas .screen .copy li {
    margin: 20px 10px; }
  .propuestas .screen .copy .propuestas {
    font-weight: bold; }
  .propuestas .screen .copy .left, .propuestas .screen .copy .right {
    display: inline-block;
    vertical-align: top; }
  .propuestas .screen .copy .left {
    width: 30%;
    text-align: center; }
  .propuestas .screen .copy .right {
    width: 60%; }
.propuestas .screen .text.leer-mas {
  height: 100%; }
  .propuestas .screen .text.leer-mas span.hidden, .propuestas .screen .text.leer-mas span.menos {
    display: inline; }
  .propuestas .screen .text.leer-mas a.leer-mas {
    background: #ccc; }
  .propuestas .screen .text.leer-mas span.mas {
    display: none; }
.propuestas .screen.toc a {
  color: #000;
  text-decoration: none;
  /*&:hover {background:#eee}*/ }
  .propuestas .screen.toc a img {
    height: 100px;
    vertical-align: middle; }
.propuestas .screen.toc .ciudad, .propuestas .screen.toc .gobierno {
  width: 49.9%;
  display: inline-block;
  text-align: center; }
.propuestas .screen.toc h2 {
  font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
  font-size: 4.5em;
  font-weight: bold;
  text-transform: uppercase; }
  .propuestas .screen.toc h2 a {
    line-height: 2em;
    background: pink;
    display: block; }
  .propuestas .screen.toc h2 strong {
    font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
    font-weight: bold; }
.propuestas .screen.toc .gobierno h2 a {
  background: #c8e5f0; }
.propuestas .screen.toc h3 {
  font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
  font-size: 3.5em;
  width: 100%;
  text-align: left;
  margin: 0;
  margin-left: 70px; }
  .propuestas .screen.toc h3 a {
    line-height: 1.5em; }
    .propuestas .screen.toc h3 a span {
      display: inline-block;
      width: 150px;
      text-align: center; }
  .propuestas .screen.toc h3 strong {
    font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
    font-weight: bold; }
.propuestas .screen.ciudad h1, .propuestas .screen.gobierno h1 {
  position: absolute;
  top: 20px;
  left: 0; }
  .propuestas .screen.ciudad h1 img, .propuestas .screen.gobierno h1 img {
    height: 1.5em;
    vertical-align: middle; }
.propuestas .screen.ciudad div.copy, .propuestas .screen.gobierno div.copy {
  position: absolute;
  bottom: 20%;
  right: 9%;
  font-size: 1.6em;
  font-family: "L Futura W01", Helvetica;
  width: 40%; }
.propuestas .screen.gobierno {
  position: relative; }
  .propuestas .screen.gobierno img.congreso {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%; }
  .propuestas .screen.gobierno h1 {
    position: absolute;
    top: 20px;
    z-index: 2;
    color: white; }
  .propuestas .screen.gobierno div.copy {
    left: 4%;
    right: auto;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 30px; }
.propuestas .screen.democratica, .propuestas .screen.sostenible, .propuestas .screen.incluyente, .propuestas .screen.personas, .propuestas .screen.excelencia, .propuestas .screen.contrapeso {
  background: #eee; }
  .propuestas .screen.democratica .video, .propuestas .screen.sostenible .video, .propuestas .screen.incluyente .video, .propuestas .screen.personas .video, .propuestas .screen.excelencia .video, .propuestas .screen.contrapeso .video {
    width: 30%;
    height: 100%;
    display: inline-block;
    background: #ccc;
    vertical-align: middle;
    position: relative;
    overflow: hidden; }
    .propuestas .screen.democratica .video img, .propuestas .screen.sostenible .video img, .propuestas .screen.incluyente .video img, .propuestas .screen.personas .video img, .propuestas .screen.excelencia .video img, .propuestas .screen.contrapeso .video img {
      position: absolute;
      top: 0;
      left: 0; }
  .propuestas .screen.democratica .text, .propuestas .screen.sostenible .text, .propuestas .screen.incluyente .text, .propuestas .screen.personas .text, .propuestas .screen.excelencia .text, .propuestas .screen.contrapeso .text {
    width: 69%;
    display: inline-block;
    vertical-align: top;
    background: #fff; }
    .propuestas .screen.democratica .text h2, .propuestas .screen.sostenible .text h2, .propuestas .screen.incluyente .text h2, .propuestas .screen.personas .text h2, .propuestas .screen.excelencia .text h2, .propuestas .screen.contrapeso .text h2 {
      text-transform: uppercase;
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      font-size: 3em;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 0;
      margin-left: 50px;
      opacity: 0.4; }
      .propuestas .screen.democratica .text h2 img, .propuestas .screen.sostenible .text h2 img, .propuestas .screen.incluyente .text h2 img, .propuestas .screen.personas .text h2 img, .propuestas .screen.excelencia .text h2 img, .propuestas .screen.contrapeso .text h2 img {
        height: 1em;
        vertical-align: middle; }
    .propuestas .screen.democratica .text h1, .propuestas .screen.sostenible .text h1, .propuestas .screen.incluyente .text h1, .propuestas .screen.personas .text h1, .propuestas .screen.excelencia .text h1, .propuestas .screen.contrapeso .text h1 {
      text-align: left;
      margin-left: 50px;
      margin-top: 0;
      font-size: 5em; }

/************************** PRINCIPIOS **************************/
.principios {
  vertical-align: top; }
  .principios h1 {
    font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 7em;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    color: #000;
    text-align: center; }
  .principios .screen .media {
    width: 30%;
    height: 100%;
    display: inline-block;
    text-align: center; }
    .principios .screen .media img {
      width: 80%;
      margin-top: 200px; }
  .principios .screen .text {
    width: 69%;
    display: inline-block;
    vertical-align: top; }
  .principios .screen.toc {
    background: #c8c8a8; }
    .principios .screen.toc h1 {
      font-size: 8em; }
    .principios .screen.toc .lista {
      background: #b3b397;
      width: 100%;
      padding: 30px 0;
      margin: 30px 0;
      text-align: center; }
      .principios .screen.toc .lista a {
        display: inline-block;
        margin: 0;
        font-size: 3.5em;
        line-height: 1.7em;
        width: 23em;
        color: #fff;
        text-decoration: none;
        font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        text-align: left; }
        .principios .screen.toc .lista a img {
          width: 1.2em;
          vertical-align: middle;
          margin-right: 50px;
          margin-left: 130px;
          margin-top: 5px; }
        .principios .screen.toc .lista a.colectiva {
          background: #edd172; }
          .principios .screen.toc .lista a.colectiva:hover {
            background: #d5bc66; }
        .principios .screen.toc .lista a.participacion {
          background: #cef19a; }
          .principios .screen.toc .lista a.participacion:hover {
            background: #b9d88a; }
        .principios .screen.toc .lista a.apertura {
          background: #facdab; }
          .principios .screen.toc .lista a.apertura:hover {
            background: #e0b899; }
        .principios .screen.toc .lista a.innovacion {
          background: #a7dca6; }
          .principios .screen.toc .lista a.innovacion:hover {
            background: #96c595; }
        .principios .screen.toc .lista a.genero {
          background: #db5a3d; }
          .principios .screen.toc .lista a.genero:hover {
            background: #c55137; }
        .principios .screen.toc .lista a.derechos {
          background: #c2263f; }
          .principios .screen.toc .lista a.derechos:hover {
            background: #ae223a; }
        .principios .screen.toc .lista a.transparencia {
          background: #fe9c98; }
          .principios .screen.toc .lista a.transparencia:hover {
            background: #e48d88; }
  .principios .screen.colectiva h1, .principios .screen.participacion h1, .principios .screen.apertura h1, .principios .screen.innovacion h1, .principios .screen.genero h1, .principios .screen.derechos h1, .principios .screen.transparencia h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 6em; }
  .principios .screen.colectiva p, .principios .screen.participacion p, .principios .screen.apertura p, .principios .screen.innovacion p, .principios .screen.genero p, .principios .screen.derechos p, .principios .screen.transparencia p {
    font-size: 1.7em;
    width: 80%;
    margin: 0 auto; }
  .principios .screen.colectiva {
    background: #edd172; }
    .principios .screen.colectiva .media {
      background: #d5bc66; }
  .principios .screen.participacion {
    background: #cef19a; }
    .principios .screen.participacion .media {
      background: #b9d88a; }
  .principios .screen.apertura {
    background: #facdab; }
    .principios .screen.apertura .media {
      background: #e0b899; }
  .principios .screen.innovacion {
    background: #a7dca6; }
    .principios .screen.innovacion .media {
      background: #96c595; }
  .principios .screen.genero {
    background: #db5a3d; }
    .principios .screen.genero .media {
      background: #c55137; }
  .principios .screen.derechos {
    background: #c2263f; }
    .principios .screen.derechos .media {
      background: #ae223a; }
  .principios .screen.transparencia {
    background: #fe9c98; }
    .principios .screen.transparencia .media {
      background: #e48d88; }

/************************** COMPROMISOS **************************/
.compromisos .pedro-kumamoto {
  margin-top: 2em;
  margin-left: 4em; }
  .compromisos .pedro-kumamoto .kumalogo {
    float: left;
    margin-right: 2.5em;
    height: 12em;
    margin-top: 5px;
    position: relative;
    z-index: 2; }
  .compromisos .pedro-kumamoto h1 {
    padding-top: 0;
    margin-top: 0;
    font-size: 10em;
    line-height: 0.6em;
    font-family: "Lemon/Milk", Helvetica, Arial;
    margin-bottom: 0;
    position: relative;
    color: transparent;
    text-align: left; }
    .compromisos .pedro-kumamoto h1 img {
      height: 0.5em;
      vertical-align: middle; }
.compromisos h2 {
  font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 5em;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  color: #000;
  width: 100%;
  text-align: left; }
.compromisos h3 {
  font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 3em;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  color: #000;
  width: 100%;
  text-align: center;
  text-align: left; }
.compromisos .screen {
  background: #e9eaed;
  overflow: hidden; }
  .compromisos .screen .video {
    width: 30%;
    height: 100%;
    display: inline-block;
    text-align: center;
    background: #ccc;
    overflow: hidden; }
    .compromisos .screen .video img {
      position: absolute;
      top: 0;
      left: 0; }
  .compromisos .screen.toc {
    text-align: center;
    background: #fff; }
    .compromisos .screen.toc h2 {
      color: #c87072; }
    .compromisos .screen.toc p {
      font-family: Helvetica;
      font-size: 1.5em;
      width: 80%;
      margin: 40px auto;
      text-align: left; }
      .compromisos .screen.toc p a, .compromisos .screen.toc p strong {
        color: #c87072; }
      .compromisos .screen.toc p b {
        color: #379088; }
    .compromisos .screen.toc div.toc {
      text-align: left;
      margin-left: 10%; }
      .compromisos .screen.toc div.toc a.campanha, .compromisos .screen.toc div.toc a.congreso {
        display: block;
        font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
        font-size: 4em;
        text-transform: uppercase;
        text-decoration: none;
        margin: 20px 0;
        color: black; }
  .compromisos .screen .infografia {
    width: 30%;
    height: 100%;
    display: inline-block;
    text-align: center;
    background: #B3D7DA; }
    .compromisos .screen .infografia img {
      width: 80%;
      margin-top: 5em; }
  .compromisos .screen .text {
    width: 69%;
    display: inline-block;
    vertical-align: top;
    background: #fff; }
    .compromisos .screen .text h3 {
      margin-left: 1.7em;
      margin-top: 0.6em; }
    .compromisos .screen .text h2 {
      text-align: left;
      margin-left: 1em;
      line-height: 1em; }
    .compromisos .screen .text ol {
      font-size: 1.5em;
      font-family: Helvetica;
      margin: 0 auto;
      margin-top: 2em;
      margin-left: 6em;
      counter-reset: item;
      width: 60%; }
      .compromisos .screen .text ol.congreso {
        counter-reset: item 8; }
      .compromisos .screen .text ol li:before {
        content: counter(item) ". ";
        counter-increment: item;
        color: #999;
        display: inline-block;
        width: 3em;
        padding-left: .5em;
        margin-left: -4em;
        text-align: right; }
      .compromisos .screen .text ol li {
        margin: 0.5em 0;
        display: block; }
        .compromisos .screen .text ol li a, .compromisos .screen .text ol li strong {
          color: #c87072; }
    .compromisos .screen .text span.hidden, .compromisos .screen .text span.menos {
      display: none; }
    .compromisos .screen .text span.hidden {
      font-size: 80%; }
    .compromisos .screen .text a.leer-mas {
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      background: #e9eaed;
      display: inline-block;
      padding: .5em 1em;
      font-size: 1.4em;
      margin-left: 10em;
      margin-top: 1em;
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif; }
      .compromisos .screen .text a.leer-mas:hover {
        text-decoration: underline;
        background: #555;
        color: #fff; }
    .compromisos .screen .text.leer-mas {
      height: 100%; }
      .compromisos .screen .text.leer-mas span.hidden, .compromisos .screen .text.leer-mas span.menos {
        display: inline; }
      .compromisos .screen .text.leer-mas span.summary {
        display: none; }
      .compromisos .screen .text.leer-mas a.leer-mas {
        background: #ccc; }
      .compromisos .screen .text.leer-mas span.mas {
        display: none; }
      .compromisos .screen .text.leer-mas ol {
        font-size: 1.4em; }
      .compromisos .screen .text.leer-mas li {
        margin-top: 1em;
        margin-bottom: 1em; }
      .compromisos .screen .text.leer-mas .fb-mockup {
        display: none; }
    .compromisos .screen .text .fb-mockup {
      background: #e9eaed;
      text-align: center;
      border-top: 1px solid #ccc;
      height: 500px;
      overflow: hidden; }

.navbar {
  background: transparent;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  height: 71.25px;
  width: 100%; }
  .navbar a {
    text-transform: uppercase;
    display: inline-block;
    line-height: 81.25px;
    height: 71.25px;
    font-size: 4.5em;
    text-decoration: none;
    color: #4A746D;
    float: left;
    text-align: center;
    width: 25%;
    text-align: center;
    font-weight: 500;
    font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
    position: relative;
    bottom: 0;
    z-index: 1;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*&.principios, &.propuestas, &.compromisos {*/
    /*img { height:90px; margin-right:15px; margin-top:-15px; vertical-align:middle}*/
    /*}*/ }
    .navbar a.home {
      background: #fff;
      color: black;
      font-size: 4em;
      line-height: 71.25px;
      font-family: "Lemon/Milk";
      letter-spacing: 2px; }
      .navbar a.home img.kumalogo {
        height: 1.3em;
        vertical-align: middle;
        padding-right: 15px; }
      .navbar a.home:hover {
        background: #000;
        color: #fff; }
    .navbar a.principios {
      background: #67B2A4;
      /*img {height:50px}*/ }
    .navbar a.propuestas {
      background: #4E7B74;
      color: #283F3A;
      font-weight: bold; }
    .navbar a.compromisos {
      background: #67B2A4;
      letter-spacing: -2px;
      /*img {height:75px; margin-top:-5px}*/ }
    .navbar a:hover {
      background: #CD5560;
      color: #fff; }
  .navbar.principios a.principios {
    background: #9b4b52;
    color: #fff; }
  .navbar.compromisos a.compromisos {
    background: #9b4b52;
    color: #fff; }
  .navbar.propuestas a.propuestas {
    background: #9b4b52;
    color: #fff; }

.navbar.home {
  height: 125px; }
  .navbar.home a {
    bottom: -140px;
    font-size: 5.6em;
    height: 95px;
    width: 33.33333%;
    line-height: 90px; }
    .navbar.home a.home {
      display: none; }
    .navbar.home a.propuestas {
      font-family: "FF Meta W01", Helvetica, Arial, sans-serif;
      font-weight: bold;
      height: 125px;
      font-size: 6.7em;
      line-height: 125px;
      box-shadow: 0 10px 30px #1B342F; }
    .navbar.home a.principios, .navbar.home a.compromisos {
      margin-top: 30px; }
