---
section: blog
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <script>
var today=new Date()
var futuredate=new Date(2015,01,27) //Month is 0-11 in JavaScript
//Set 1 day in milliseconds
var one_day=1000*60*60*24
//Calculate difference btw the two dates, and convert to days
var days = Math.ceil((futuredate.getTime()-today.getTime())/(one_day))
  </script>
<body>

<header class="site-header">
  <div class="top-wrapper">
    <img class="ocupantes" alt="ocupantes" src="{{ site.baseurl }}/img/ocupantes.gif" style="">

    <div class="site-header-top">
      <div class="site-brand">
        <a class="site-title" href="{{ site.baseurl }}/"><img class="site-logo" src="{{ site.baseurl }}/img/LogoPedroKumamoto.png" /></a>
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <div class="site-slogan">{{ site.slogan }}</div>
      </div>

      {% include nav.html %}
    </div>

    <div class="site-header-bottom">
      <div class="left day-box">
        <a href="{{ site.baseurl }}/donde-firmo/">Faltan <script>document.write(days)</script> días</a>
      </div>
      <div class="right">
        <a href="https://twitter.com/pkumamoto"><img title="Twitter Pedro Kumamoto" alt="Twitter Pedro Kumamoto" src="{{ site.baseurl }}/img/IconosTwitter.png"></a>
        <a href="https://www.facebook.com/kumisima?fref=ts"><img title="Facebook Pedro Kumamoto" alt="Facebook Pedro Kumamoto" src="{{ site.baseurl }}/img/IconosFacebook.png"></a>
        <a href="https://www.youtube.com/channel/UCmxg2eKb-Z2dFeRh9SRKrSg"><img title="YouTube Pedro Kumamoto" alt="YouTube Pedro Kumamoto" src="{{ site.baseurl }}/img/IconosYouTube.png"></a>
      </div>
    </div>
  </div>

</header>

  <div class="page-content">
    <center class="wrapper por-que">
      <h2>¿Por qué una candidatura independiente?</h2>
      <p>
        Un candidato independiente es un ciudadano que no pertenece a ningún partido político y busca un cargo de elección popular. Durante el periodo de recolección de firmas el candidato no recibe dinero público, sólo lo que cada uno de los que lo apoyamos hemos decidido aportar voluntariamente. Como no pertenece a un partido político, nadie más que los ciudadanos a los que representa, le dice qué hacer o por qué votar. 
        Queremos probar que la política sin partidos sí es posible y la construimos entre todas y todos. 
      </p>
    </center>

    <div class="wrapper">
      <div class="column column-50">
        <div class="flexible-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/xS6Ne5SbvpU" frameborder="0" allowfullscreen></iframe></div>
      </div>

      <div class="column column-50 ocupantes-box column-last">
        <img class="left" src="{{ site.baseurl }}/img/Logo-Ocupantes.png">
        <h2>Ocupantes</h2>
        <p>Si bien la legislación nos obliga a postular a un solo  individuo como candidato, en este proyecto somos muchos y muchas personas. Somos gente de muchas disciplinas, universidades y lugares de origen que compartimos un mismo deseo y tenemos las mismas inquietudes y descontentos respecto a la forma de hacer política en nuestro país; pero también tenemos la seguridad de que paso a paso podemos replantearla y reconstruirla. Pedro Kumamoto es quien se encarga de representarnos a todos y a todas en esta precampaña donde todas las voces pesan lo mismo y la participación y la colectividad son partes fundamentales de su desarrollo. Cualquier persona con ganas de sumarse y trabajar con el equipo es bienvenida.</p>
      </div>
    </div>

    <div class="propuestas wrapper">
      <center class="propuestas-box">
        <h1>Propuestas</h1>
        <p>¡Nuestra propuesta es el como!</p>
      </center>

      <div class="row">
        <div class="column column-33">
          <h3>Colaborativa</h3>
          <p>Nuestra plataforma será completamente abierta y democrática. Nutriremos la creación de propuestas y la participación a partir de encuestas, herramientas colaborativas en línea, y los resultados que obtengamos en los meet-ups distritales. Así procuraremos que todas las voces sean incluídas a través de diferentes herramientas y y espacios completamente abiertos.</p>
        </div>

        <div class="column column-33">
          <h3>Expertos</h3>
          <p>Contaremos con un consejo consultivo de expertos de distintas disciplinas que nos ayudarán a  retomar propuestas que se han trabajado desde la sociedad civil y la academia. De esta forma garantizaremos que todas nuestras propuestas estén fundamentadas en necesidades reales y soluciones viables.</p>
        </div>

        <div class="column column-33 column-last">
          <h3>Wikipolitica</h3>
          <p>Hacer Wikipolítica significa abrir espacios para que muchas personas se puedan sumar y participar juntas. La política de hoy y de mañana no se puede concebir sin mecanismos de democracia directa, transparencia, rendición de cuentas, apertura de datos y empoderamiento digital. Impulsaremos propuestas que las conviertan en un ejercicio diario.</p>
        </div>
      </div>
    </div>

    <div class="wrapper blog-section">
      <div class="column column-50">
        <h2><a href="{{ site.baseurl }}/bitacora/">Bitácora</a></h2>
        <ul class='post-list'>
          {% for item in site.categories.blog limit:5 %}
          <li>
            <span class="post-meta">{{ item.date | date: "%b %-d, %Y" }}</span>
            <h3>
              <a class="post-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
            </h3>
          </li>
          {% endfor %}
        </ul>
        <p><strong>Lee la bitácora completa <a href="{{ site.baseurl }}/bitacora/">aquí</a>.</strong></p>
        {% include rss-link.html %}
      </div>

      <div class="column column-50 column-last">
        <h2><a href="{{ site.baseurl }}/donde-firmo/">¿Dónde firmo?</a></h2>
        <ul class='post-list'>
          <li>
            <h3><a target="_blank" href="https://www.facebook.com/pages/Cocina-La-Tasca-Pizzeria-y-lasagnas/120491968011462">Cocina La Tasca</a></h3>
            Esquina de Charrasquis y Pegaso, Col. Paseos del Sol
          </li>
          <li>
            <h3><a target="_blank" href="https://www.facebook.com/pages/Galer%C3%ADa-Ajolote-Arte-Contempor%C3%A1neo/27090952968?sk=info&tab=overview">Galería Ajolote</a></h3>
            Av. Guadalupe 1688-A Esq. Niño Obrero
          </li>
          <li>
            <h3><a target="_blank" href="https://www.facebook.com/harukisushijapanesse">Haruki Sushi</a></h3>
            Rosario Castellanos 6040, Local 31
          </li>
          <li>
            <h3><a target="_blank" href="https://es.foursquare.com/v/petra-pizza-a-la-le%C3%B1a/4e616dd0ae60e9edf551561e">Pizzas Petra Sanzio</a></h3>
            Rafael Sanzio 522 Esq. Santo Tomás de Aquino
          </li>
          <li>
            <h3><a target="_blank" href="https://es.foursquare.com/v/petra-pizza-a-la-le%C3%B1a/4ecdbdfee3007feb7a795240">Pizzas Petra Patria</a></h3>
            Av. Patria esq. Circuito Medas
          </li>
        </ul>
        <p><strong>Más lugares para firmar <a href="{{ site.baseurl }}/donde-firmo/">aquí</a>.</strong></p>
      </div>
    </div>

    <div class="wrapper">
      <div class="column column-50">
        <h2>Pedro Kumamoto</h2>
        <img src="{{ site.baseurl }}/img/kuma.gif">
      </div>

      <div class="column column-50 column-last">
        <h2>Distrito 10</h2>
        <div class="flexible-container" style="height:500px; padding-bottom: 10px;"><iframe src="https://www.google.com/maps/d/embed?mid=z1TD728Xq-aQ.kzsyCxPggqIE" width="422" height="422" style="height: 422px; width: 422px;"></iframe></div>
      </div>
    </div>

  </div>
  {% include footer.html %}
</body>
</html>
